<!DOCTYPE html>
<html lang="en">
<head>
  <title>GNUKhata | Ledger</title>
  <style type="text/css">
span
{
  font-size: 95%;
}


  .selected
  {
    background-color: Aquamarine;
  }

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  td {
    font-size: 65%;
  }

  th {
    font-size: 70%;
  }
  /*
  Force table width to 100%
  */
  table.table-fixedheader {
    width: 100%;
  }
  /*
  Set table elements to block mode.  (Normally they are inline).
  This allows a responsive table, such as one where columns can be stacked
  if the display is narrow.
  */
  table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
    display: block;
  }
  table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after  {
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  /*
  When scrolling the table, actually it is only the tbody portion of the
  table that scrolls (not the entire table: we want the thead to remain
  fixed).  We must specify an explicit height for the tbody.  We include
  100px as a default, but it can be overridden elsewhere.

  Also, we force the scrollbar to always be displayed so that the usable
  width for the table contents doesn't change (such as becoming narrower
  when a scrollbar is visible and wider when it is not).
  */
  table.table-fixedheader>tbody {
    overflow-y: scroll;
    height: 68vh;

  }
  /*
  We really don't want to scroll the thead contents, but we want to force
  a scrollbar to be displayed anyway so that the usable width of the thead
  will exactly match the tbody.
  */
  table.table-fixedheader>thead, table.table-fixedheader>tfoot {
    overflow-y: scroll;
    height: 26px;
    width: 99.3%;
  }
  /*
  For browsers that support it (webkit), we set the background color of
  the unneeded scrollbar in the thead to make it invisible.  (Setting
  visiblity: hidden defeats the purpose, as this alters the usable width
  of the thead.)
  */
  table.table-fixedheader>thead::-webkit-scrollbar {
    background-color: inherit;
  }


  table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after, table.table-fixedheader>tfoot>tr>td:after {
    content:' ';
    display: table-cell;
    visibility: hidden;
    clear: both;
  }

  /*
  We want to set <th> and <td> elements to float left.
  We also must explicitly set the width for each column (both for the <th>
  and the <td>).  We set to 20% here a default placeholder, but it can be
  overridden elsewhere.
  */

  table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td, table.table-fixedheader>tfoot tr td {
    float: left;

  }

  #ledgertable1, #ledgertable2 {
    background-color: white;
  }

  </style>
</head>
<body>
  <div class="alert alert-danger" id="ua-alert" hidden>

    <strong>Unauthorized to Lock/Unlock Transactions!</strong>
  </div>
  <input type="hidden" id="urole" name="urole" value="{{userrole}}"></input>
  <input type="hidden" id="financialstart" name="financialstart" value="{{ledgerrefresh2["financialstart"]}}"></input>
  <input type="hidden" id="backflag" name="backflag" value="{{ledgerrefresh2["backflag"]}}"></input>
  <input type="hidden" id="accountcode1" name="accountcode1" value="{{ledgerrefresh1["accountcode"]}}"></input>
  <input type="hidden" id="calculatefrom1" name="calculatefrom1" value="{{ledgerrefresh1["calculatefrom"]}}"></input>
  <input type="hidden" id="calculateto1" name="calculateto1" value="{{ledgerrefresh1["calculateto"]}}"></input>
  <input type="hidden" id="monthlyflag1" name="monthlyflag1" value="{{ledgerrefresh1["monthlyflag"]}}"></input>
  <input type="hidden" id="projectcode1" name="projectcode1" value="{{ledgerrefresh1["projectcode"]}}"></input>
  <input type="hidden" id="narrationflag1" name="narrationflag1" value="{{ledgerrefresh1["narrationflag"]}}"></input>
  <input type="hidden" id="projectname1" name="projectname1" value="{{ledgerrefresh1["projectname"]}}"></input>


  <input type="hidden" id="accountcode2" name="accountcode2" value="{{ledgerrefresh2["accountcode"]}}"></input>
  <input type="hidden" id="calculatefrom2" name="calculatefrom2" value="{{ledgerrefresh2["calculatefrom"]}}"></input>
  <input type="hidden" id="calculateto2" name="calculateto2" value="{{ledgerrefresh2["calculateto"]}}"></input>
  <input type="hidden" id="monthlyflag2" name="monthlyflag2" value="{{ledgerrefresh2["monthlyflag"]}}"></input>
  <input type="hidden" id="projectcode2" name="projectcode2" value="{{ledgerrefresh2["projectcode"]}}"></input>
  <input type="hidden" id="narrationflag2" name="narrationflag2" value="{{ledgerrefresh2["narrationflag"]}}"></input>
  <input type="hidden" id="projectname2" name="projectname2" value="{{ledgerrefresh2["projectname"]}}"></input>

  <div class="row">
    <div class="table-responsive col-xs-6 ">
      {% if ledgerheader1["projectname"]!="" %}
      <i style="font-size: 95%;">Project</i> : {{ledgerheader1["projectname"]}}
      {% endif %}
      <span class="pull-right"><i>Period</i> : {{ledgerheader1["calculatefrom"]}} to {{ledgerheader1["calculateto"]}}</span>
      <span style="margin:auto; display:table;"><i>Account</i> : {{ledgerheader1["accountname"]}}</span>

      <table id="ledgertable1" class=" shadow table table-fixedheader table-condensed">
        <thead>
          <tr>
            <th class="col-xs-2">Date</th>
            <th class="col-xs-1" style="padding-left: 2px;padding-right: 2px">V. No.</th>
            {% if ledgerheader1["projectname"]=="" %}
            <th class="col-xs-3">Particulars</th>
            <th style="text-align:right" class="col-xs-2">Debit</th>
            <th style="text-align:right" class="col-xs-2">Credit</th>
            <th style="text-align:right" class="col-xs-2">Balance</th>
            {% else %}
            <th class="col-xs-5">Particulars</th>
            <th style="text-align:right" class="col-xs-2">Debit</th>
            <th style="text-align:right" class="col-xs-2">Credit</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for record in records1 %}
          <tr  value="{{record['vouchercode']}}">
            <td class="col-xs-2">
              {{record['voucherdate']}}
            </td>
            {% if record['vouchernumber']=="" %}
            <td class="col-xs-1">
              <a class="vno1" href="#">&nbsp</a>
            </td>
            {% else %}
            <td class="col-xs-1">
              <a class="vno1" href="#">{{record['vouchernumber']}}</a>
            </td>
            {% endif %}
            {% if ledgerheader1["projectname"]=="" %}
            <td class="col-xs-3">
              {% for pr in record['particulars'] %}
              {{pr}} <br>
              {% endfor %}
              {% if record['narration']!="" and narrationflag1==true %}
              ({{record['narration']}})
              {% endif %}
            </td>
            <td class="col-xs-2" style="text-align:right">
              {{record["Dr"]}}
            </td>
            <td class="col-xs-2" style="text-align:right">
              {{record["Cr"]}}
            </td>
            <td class="col-xs-2" style="text-align:right">
              {{record["balance"]}}
            </td>
            {% else %}
            <td class="col-xs-5">
              {% for pr in record['particulars'] %}
              {{pr}} <br>
              {% endfor %}
              {% if record['narration']!="" and narrationflag1==true %}
              ({{record['narration']}})
              {% endif %}
            </td>
            <td class="col-xs-2" style="text-align:right">
              {{record["Dr"]}}
            </td>
            <td class="col-xs-2" style="text-align:right">
              {{record["Cr"]}}
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div  class="table-responsive col-xs-6 ">
      {% if ledgerheader2["projectname"]!="" %}
      <i style="font-size: 95%;">Project</i> : {{ledgerheader2["projectname"]}}
      {% endif %}
      <span class="pull-right"><i>Period</i> : {{ledgerheader2["calculatefrom"]}} to {{ledgerheader2["calculateto"]}}</span>
      <span style="margin:auto; display:table;"><i>Account</i> : {{ledgerheader2["accountname"]}}</span>

      <table id="ledgertable2" class=" shadow table table-fixedheader table-condensed">
        <thead>
          <tr>
            <th class="col-xs-2">Date</th>
            <th class="col-xs-1" style="padding-left: 2px;padding-right: 2px">V. No.</th>
            {% if ledgerheader2["projectname"]=="" %}
            <th class="col-xs-3">Particulars</th>
            <th style="text-align:right" class="col-xs-2">Debit</th>
            <th style="text-align:right" class="col-xs-2">Credit</th>
            <th style="text-align:right" class="col-xs-2">Balance</th>
            {% else %}
            <th class="col-xs-5">Particulars</th>
            <th style="text-align:right" class="col-xs-2">Debit</th>
            <th style="text-align:right" class="col-xs-2">Credit</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for record in records2 %}
          <tr  value="{{record['vouchercode']}}">
            <td class="col-xs-2">
              {{record['voucherdate']}}
            </td>
            {% if record['vouchernumber']=="" %}
            <td class="col-xs-1">
              <a class="vno2" href="#">&nbsp</a>
            </td>
            {% else %}
            <td class="col-xs-1">
              <a class="vno2" href="#">{{record['vouchernumber']}}</a>
            </td>
            {% endif %}
            {% if ledgerheader2["projectname"]=="" %}
            <td class="col-xs-3">
              {% for pr in record['particulars'] %}
              {{pr}} <br>
              {% endfor %}
              {% if record['narration']!="" and narrationflag2==true %}
              ({{record['narration']}})
              {% endif %}
            </td>
            <td class="col-xs-2" style="text-align:right">
              {{record["Dr"]}}
            </td>
            <td class="col-xs-2" style="text-align:right">
              {{record["Cr"]}}
            </td>
            <td class="col-xs-2" style="text-align:right">
              {{record["balance"]}}
            </td>
            {% else %}
            <td class="col-xs-5">
              {% for pr in record['particulars'] %}
              {{pr}} <br>
              {% endfor %}
              {% if record['narration']!="" and narrationflag2==true %}
              ({{record['narration']}})
              {% endif %}
            </td>
            <td class="col-xs-2" style="text-align:right">
              {{record["Dr"]}}
            </td>
            <td class="col-xs-2" style="text-align:right">
              {{record["Cr"]}}
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>
  <span style="margin:auto; display:table;">
      <button class="btn btn-sm btn-danger" type="button" id="dlback" accesskey="b"><u>B</u>ack</button>
    </span>

  <div id="viewvc">
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/dualledgerreport.js')}}"></script>
</body>
</html>
