<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GNUKhata | Project Statement</title>
  <style media="screen">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  label {
		font-size: 90%;
	}
  </style>
</head>
<body>
  <div style="padding-top:5px" class="container-fluid mainbox col-md-6 col-md-offset-3">
    <div class="panel shadow">
      <div class="panel-heading">
        <h3 id = "prjhead" class="panel-title">View Project Statement</h3>
      </div>
      <div class="panel-body" style="padding-top:5px">
        <div class="alert alert-danger" id="date-alert" aria-live="rude" role="alert" hidden>
          
          <label for="viewprjstate_todate">Please enter date in proper format!</label>
        </div>
        <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

          <label for="viewprjstate_todate">Please enter date within the financial year!</label>
        </div>
        <div class="alert alert-danger" id="account-blank-alert" aria-live="rude" role="alert" hidden>

          <label id="prjalert" for="viewprjstate_prjname">Please select a project!</label>
        </div>
        <div style="margin-bottom: 5px" class="col-xs-12 from-group">
          <label for="viewprjstate_fromdate">From Date:</label>
          <div class="form-inline" >

            <div class="form-group">

              <input type="text" class="viewprjstate_date form-control input-sm dis" id="viewprjstate_fromdate" disabled value="" size="2" maxlength="2" placeholder="DD">
              <input type="text" id="viewprjstate_frommonth" class="viewprjstate_date dis form-control input-sm" disabled value="" size="2" maxlength="2" placeholder="MM">
              <input type="text" id="viewprjstate_fromyear" class="viewprjstate_date dis form-control input-sm" disabled value="" size="4" maxlength="4" placeholder="YYYY">
            </div>

          </div>
          <br>
          <label for="viewprjstate_todate">To <u>D</u>ate:</label>
          <div class="form-inline" >

            <div class="form-group">

              <input type="text" class="viewprjstate_date form-control input-sm dis" id="viewprjstate_todate" value="" size="2" maxlength="2" placeholder="DD" accesskey="d">
              <input type="text" id="viewprjstate_tomonth" class="viewprjstate_date form-control input-sm dis" value="" size="2" maxlength="2" placeholder="MM">
              <input type="text" id="viewprjstate_toyear" class="viewprjstate_date form-control input-sm dis" value="" size="4" maxlength="4" placeholder="YYYY">
            </div>
          </div>
          <br>
          <label id = "prjnamelbl" for="viewprjstate_prjname">Pro<u>j</u>ect Name :</label>
          <select class = "form-control input-sm dis" id="viewprjstate_prjname"  name = "viewprjstate_prjname" accesskey="j">
            <option value="" disabled hidden selected>Please select</option>
            {% for prj in projects %}
            <option value="{{prj['projectcode']}}">{{prj["projectname"]}}</option>
            {% endfor %}
          </select>

        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary btn-sm" id="viewprjstate_submit" name="view" accesskey="v"><u>V</u>iew</button>
        <button id="viewprjstate_reset" class="btn btn-danger btn-sm" accesskey="e">R<u>e</u>set</button>

      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewprojectstatement.js')}}"></script>
</body>
</html>
